* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  /* overflow: hidden; */
}
